<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Hotel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <div class="text-center">
            <h2>Modifier un hotel</h2>
        </div>
        <form action="#" th:action="@{/hotel/hotel/update/{idHotel}(idHotel=${hotel.idHotel})}" th:object="${hotel}" method="post">
            <div class="mb-3">
                <label for="hotelName" class="form-label">Nom de l'hotel</label>
                <input type="text" class="form-control" id="hotelName" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="hotelCity" class="form-label">Ville de l'hotel</label>
                <input type="text" class="form-control" id="hotelCity" th:field="*{city}">
            </div>
            <div class="mb-3">
                <label for="hotelRoomsNumber" class="form-label">Nombre de chambres</label>
                <input type="number" class="form-control" id="hotelRoomsNumber" th:field="*{roomsNumber}">
            </div>
            <div class="mb-3">
                <label for="hotelStarsNumber" class="form-label">Nombre d'étoiles</label>
                <input type="number" class="form-control" id="hotelStarsNumber" th:field="*{startNumber}">
            </div>
            <div class="mb-3">
                <label for="hotelEmail" class="form-label">Courriel</label>
                <input type="text" class="form-control" id="hotelEmail" th:field="*{email}">
            </div>
            <div class="mb-3">
                <label for="hotelStreetNumber" class="form-label">Numéro de rue</label>
                <input type="number" class="form-control" id="hotelStreetNumber" th:field="*{streetNumber}">
            </div>
            <div class="mb-3">
                <label for="hotelStreetName" class="form-label">Nom de rue</label>
                <input type="text" class="form-control" id="hotelStreetName" th:field="*{streetName}">
            </div>
            <div class="mb-3">
                <label for="hotelPostalCode" class="form-label">Code postal</label>
                <input type="text" class="form-control" id="hotelPostalCode" th:field="*{postalCode}">
            </div>
            <div class="mb-3">
                <label for="hotelCountry" class="form-label">Pays</label>
                <select class="form-select" id="hotelCountry" th:field="*{country}">
                    <option value="CA">Canada</option>
                    <option value="US">Etats-Unis</option>
                    <option value="MX">Mexique</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="hotelChain" class="form-label">Chaine Hoteliere</label>
                <select class="form-select" id="hotelChain" th:field="*{idHotelChain}">
                    <option th:each="hotelChain : ${hotelChains}" th:value="${hotelChain.id}" th:text="${hotelChain.name}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="hotelManager" class="form-label">Gérant</label>
                <select class="form-select" id="hotelManager" th:field="*{sinManager}">
                    <option th:each="employee : ${employees}" th:value="${employee.sinEmployee}" th:text="${employee.firstname} + ' ' + ${employee.lastname}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</html>